<div id="<%= dom_id datum %>">
  <p>
    <strong>Aquarium:</strong>
    <%= datum.aquarium_id %>
  </p>

  <p>
    <strong>Sensor:</strong>
    <%= datum.sensor_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= datum.value %>
  </p>

  <p>
    <strong>CreateAt:</strong>
    <%= datum.created_at %>
  </p>

</div>
